{% extends "header.html" %}

{% block body %}

<!-- <h1>this will be the main homepage</h1> -->
<div class="img">
<img src={{url_for('static', filename='mfl_banner.jpg')}} alt="Welcome to Gambler's Paradise!" style="width:100%" class="center">
</div>
<br>


<div class="container">
  
  <div class="center">
    <h2>Current Rankings</h2>
  <table class="center">
  <tr>
      <th>Team</th>
      <th>W</th>
      <th>L</th>
      <th>PF</th>
      <th>PA</th>

    </tr>
    
      {% for team in teams %}
        <tr>
            <td><a href="/team/{{team[0]}}">{{team[0]}}</a></td>
            <td>{{team[1]}}</td>
            <td>{{team[2]}}</td>
            <td>{{team[3]}}</td>
            <td>{{team[4]}}</td>
        </tr>
      
      {% endfor %}
  </table>
  </div>
  <div class="hello">
    <h2 style="align-self: center;">Hello,</h2> <br>
    <p>If you're on this website, it's probably because we have something in common. Namely, you have a love for (read: addiction to) gambling. Well, you're in the right place! Welcome to Gambler's Paradise, a place where you can connect with the finest minds in the sports gambling universe and bask in the glory that is degeneracy!
      <br> <br>
      To learn more about the functionality we can offer you, click the 'Learn More' button. To check out the most recent bets made by users, click the 'See What's Up' button. Happy gambling!!!
    </p>
    <a href="/feed" ><button type="button" class="btn btn-primary">See What's Up</button></a>
  </div>
</div>



<style>
    .container{
      display: flex;
      flex-wrap: wrap;
    }
    th, td{
    border:1px solid black;
    }

    th{
        padding: .5rem;
    }
    .b{
      background-color: dodgerblue; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: max-content;
      padding: 10px;
    }
    .img{
      background-color: white;
    }
    .center {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column; 
      font-family: 'Helvetica Neue';
    }
    .hello{
      margin-left: 50px;
      font-family: 'Helvetica Neue';
    }
    h2{
      align-self: center;
    }
    tr{
      margin: 10px;
    }
    table{
      margin: 20px;
      border: none;
    }


</style>

{% endblock  %}

